.code{
    display: none;
    background: rgba(255,255,255,.9);
    position: absolute;
}
.move{
    margin-top: -40px;
    margin-left: 170px;
}

.hello .mo-1:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-2:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-3:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-4:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-5:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-6:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-7:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-8:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-9:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-10:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-11:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-12:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-13:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-14:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-15:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-16:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-17:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-18:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-19:hover div.code{
    display: block;
    margin-top: -40px;
}
.hello .mo-20:hover div.code{
    display: block;
    margin-top: -40px;
}